@font-face {
    font-family: CursedTimer;
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin:0;
    background-image: url(arrowhead-stadium.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
}

.container-scoreboard {
    width: 575px;
    height: 330px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #080001;
    display: flex;
    justify-content: space-around;
    border: 2px solid white;
    border-radius: 2px;
}

#home-wrapper {
    margin-top: 20px;
}

#guest-wrapper {
    margin-top: 20px;
}

#home-name {
    width: 149px;
    height: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:xx-large;
    font-weight: bold;
    color: #f9bd4f;
    text-align: center;
}

#guest-name {
    width: 149px;
    height: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:xx-large;
    font-weight: bold;
    color: #f9bd4f;
    text-align: center;
}

#score-container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 120px;
    background-color: #080001;
    border: 1px solid white

}

#score-container-guest {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 120px;
    background-color: #080001;
    border: 1px solid white
}


#home-score {
    color: #f9bd4f;
    font-family: CursedTimer;
    font-size: 100px;
    padding-top: 20px;
}



#guest-score {
    color: #f9bd4f;
    font-family: CursedTimer;
    font-size: 100px;
    padding-top: 20px;
}

.container-control-panel {
    width: 575px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    background-color: #080001;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
    color: #f9bd4f;
    border: 2px solid white;
    border-radius: 2px;

}

#score-setting-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}


#reset-btn, #name-btn {

        background: white;
        color: black;
        margin: 20px auto auto auto;
        border: 1px solid black;
        padding: 10px 16px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        display: block;

}

button:hover {background-color: #213121}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

#setup-team-name-text {
    margin-top: 20px;
    text-align: center;
}

#input-container {
    display: flex;
    justify-content: space-around;
}

#input-home-name, #input-guest-name {
    font-size:16px;
    padding: 3px;

}